body {
    font-family: Arial, sans-serif;
    background-color: #01C38E; /*Change later if needed*/
    background-image: url("../../img/mesh-gradient1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

#profilecontainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.profilefield {
    min-height: fit-content;
    margin: 5px;
    width: 50%;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    padding: 30px;

    background-color: rgb(255, 255, 255);
}