body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formcontainer {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}