/*Main styles of the app*/

body {
  font-family: Arial, sans-serif;
  background-image: url("../../img/mesh-gradient1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: fit-content;
  margin: 0;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #01C38E;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#navcontainer {
  width: 240px;
  display: flex;
  justify-content: space-around;

}

img{
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  width: 250px;
}

input[type="date"]{
  color: #747474;
  width: 80%;
}

input[type="submit"] {
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #01C38E;
  background-color: #01c38E;
  color: #1A1E29;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: smaller;
  width: 200px;
}

input[type="submit"]:hover {
  color: #01C38E;
  border: 2px solid #01c38E;
  background-color: #1A1E29;
}

.link {
  margin-top: 15px;
}

.link a {
  padding: 10px;
  color: #01c38E;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.anchorbutton{
  margin-top: 15px;
  padding: 10px;
  border: 2px solid #01C38E;
  background-color: #01c38E;
  color: #1A1E29;
  border-radius: 4px;
  cursor: pointer;
}

.anchorbutton a{
  padding: 10px;
  color: #1A1E29;
  text-decoration: none;
  font-weight: bold;
  font-size: smaller;
}

.anchorbutton:hover{
  border: 2px solid #01C38E;
  background-color: #1A1E29;
}

.anchorbutton:hover a{
  color: #01C38E;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="date"].error {
    border: 2px solid red; /* Use !important if necessary */
}

.error-message {
  color: red;
  font-size: 0.7em; 
  margin-top: 1px;
  height: 20px;
}
